 /* Estilos para el encabezado */
 header {
    background-color: #cec21a;
    padding: 20px;
    text-align: center;
    color: rgb(12, 0, 4);
}

/* Estilos para la barra de navegación */
nav a {
    color: rgb(221, 238, 237);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #9ab11a;
}

/* Estilos para la sección principal */
.container {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: #86c7ec;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(9, 124, 150, 0.1);
}

.container h2 {
    color: #b86565;
}

.container p {
    font-size: 16px;
    color: #8ca717;
    line-height: 1.6;
}

/* Estilos para el pie de página */
footer {
    background-color: #f18989;
    color: rgb(213, 226, 32);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}